[submodule "themes/LoveIt"]
	path = themes/LoveIt
	url = https://github.com/dillonzq/LoveIt.git
[submodule "pcsvn.github.io"]
	path = pcsvn.github.io
	url = https://github.com/pcsvn/pcsvn.github.io.git
